<footer>
    <div class="footer-section">
                <img src="plogo.jpg" alt="Logo" class="footer-logo">
                <p>Indulge in the ultimate pizza experience –<br/> where every slice is a masterpiece, crafted with love and the freshest ingredients.<br/> Order now and taste the difference!</p>
            </div>
            <div class="footer-section">
                <h2>FIND US AT</h2>
                <a href="#"><img src="facebook.webp" alt="Facebook"></a>
                <a href="#"><img src="instagram.webp" alt="Instagram"></a>
            </div>
            <div class="footer-section">
                <h2>MAIN LINKS</h2>
                <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Branches</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">About</a></li>
                </ul>
            </div>
</footer>